<div class="container">
    <div class="menuChoice" id="multiplication">
        <ul>
            <li>Multiplikation</li>
            <li><a href="/multiplikation/1">Lätt</a></li>
            <li><a href="/multiplikation/2">Medel</a></li>
            <li><a href="/multiplikation/3">Svår</a></li>
        </ul>
    </div>

    <div class="menuChoice" id="division">
        <ul>
            <li>Division</li>
            <li><a href="/division/1">Lätt</a></li>
            <li><a href="/division/2">Medel</a></li>
            <li><a href="/division/3">Svår</a></li>
        </ul>
    </div>

    <div class="menuChoice" id="addition">
        <ul>
            <li>Addition</li>
            <li><a href="/addition/1">Lätt</a></li>
            <li><a href="/addition/2">Medel</a></li>
            <li><a href="/addition/3">Svår</a></li>
        </ul>
    </div>

    <div class="menuChoice" id="subtraction">
        <ul>
            <li>Subtraktion</li>
            <li><a href="/subtraktion/1">Lätt</a></li>
            <li><a href="/subtraktion/2">Medel</a></li>
            <li><a href="/subtraktion/3">Svår</a></li>
        </ul>
    </div>
    <div class="menuChoice" id="settings"></div>
    <div class="menuChoice" id="statistic"></div>
    <div class="menuChoice" id="videos"></div>
</div>




<link href="~/Scripts/StartPage.css" rel="stylesheet" />