

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/LayOutPage.css" rel="stylesheet" />
</head>
<body>
    @*<div class="sideBar">
        <ul>
            <li><a href="#">MULTIPLIKATION</a></li>
            <li><a href="#">DIVISION</a></li>
            <li><a href="#">ADDITION</a></li>
            <li><a href="#">SUBTRAKTION</a></li>
        </ul>
    </div>*@
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
