<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/kurre.jpg" />
    <title>Mathster</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
