@model InfoIndexVM
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div id="navDiv">
            <div class="backDiv mobile"><a asp-controller="Home" asp-action="Index"><i class="fas fa-reply"></i></a></div>
            <div><h1>Räknehjälp</h1></div>
            <div></div>
        </div>
        <div id="infoDiv">
            @*<img class="mathsterLogo" src="~/subt-1.png" />*@
            <img src="~/ekorreIinfo.png" height="150px" />
        </div>
    </div>


    <div class="infoImageDiv">
        <div class="menuChoice squirrel" id="squirrel">

        </div>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Js/MainMenu.js"></script>
    <link href="~/Scripts/InfoPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

</body>
</html>
