body {
    background-image: url("/MathsterBackground.png");
    background-size: cover;
}

.mathster {
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 180px;
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
}


a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 10px #000000;
}

    a:hover {
        color: #bdbdbd;
    }



.container {
display:flex;
flex-direction:column;
justify-content:space-between;
align-content:center;
height:720px;
margin:2%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.menuChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47826d;
    height: 40%;
    width: 15%;
    border: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 50px;
    text-align: center;
    margin: 2%;
    margin-bottom:0;
    margin-top:0;
    box-shadow: 4px 4px 20px #000000;
}

.fas {
    font-size: 10em;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}
.slash {
    font-family:Impact;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

ul {
    list-style: none;
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 1em;
    padding-left: 0;
}
#videoList {
    font-size: 0.7em;
}

li {
    padding: 10px;
}
img {
    height: 200px;
}
#shark{
    border:none;
    background:none;
    box-shadow:none;
    padding-right:120px;
}
#questions {
    font-size: 2em;
    text-shadow: 2px 2px 10px #000000;
}
@media only screen and (max-device-width : 800px) {
    body {
        background-size: 330%;
    }

    .mathster {
        display:flex;
        justify-content:center;
        align-content:flex-start;
        font-family: 'Trebuchet MS';
        color: white;
        font-size: 4em;
        text-align: center;
        height:10%;
    }


    a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: white;
        font-size: 2em;
        text-shadow: 2px 2px 10px #000000;
        margin:0;
        padding:0;
    }

        a:hover {
            color: #bdbdbd;
        }



    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:center;
        height: 600px;
        padding: 0;
        margin: 0;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 70%;

    }

    .menuChoice {
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        background-color: #47826d;
        height: 25%;
        width: 35%;
        border: solid;
        border-color: white;
        border-radius:0;
        border-width: 7px;
        margin:2%;
        text-align: center;
        box-shadow: 4px 4px 20px #000000;
    }

    .fas {
        font-size: 100px;
        color: white;
        text-shadow: 2px 2px 10px #000000;
    }

    ul {
        list-style: none;
        font-family: 'Trebuchet MS';
        color: white;
        font-size: 13px;
        padding-left: 0;
        padding:0;
        margin:0;
    }

    li {
    }

    img {
        height: 120px;
        padding-left:120px;
    }
    .slash{
        font-size:50px;
    }


}