body {
    background-image: url("/MathsterBackground.png");
    background-size: cover;
    margin-top:-10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 720px;
}

.mathster {
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 180px;
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
    height:25%; 
}
    .mathster img {
        height: 200px;
    }

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 10px #000000;
}

    a:hover {
        color: #bdbdbd;
    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    height: 38%;
}

.menuChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47826d;
    height: 80%;
    width: 15%;
    border: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 50px;
    text-align: center;
    margin: 2%;
    margin-bottom:0;
    margin-top:0;
    box-shadow: 4px 4px 20px #000000;
}

.fas {
    font-size: 10em;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}
.slash {
    font-family:Impact;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

ul {
    list-style: none;
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 0.8em;
    padding-left: 0;
}

li {
    padding: 2px;
}
.squirrel img{
    height: 200px;

}

#squirrel{
    border:none;
    background:none;
    box-shadow:none;
}
.squirrelDiv{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    body{
        background-size:140%;
    }
    .menuChoice{
        height:70%;
        width:18%;
    }
    .squirrelDiv img {
        margin-left:600px;
        margin-bottom:40px;
        height:200px;
    }
    .hideInMobile{
        display:none;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }

    body {
        background-size: 140%;
    }

    .menuChoice {
        height: 70%;
        width: 18%;
    }

    .squirrelDiv img {
        margin-left: 400px;
        margin-bottom: 55px;
        height: 200px;
    }

    .hideInMobile {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
    body {
        background-size: 120%;
    }

    .container {
        height: 370px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .mathster img {
        height: 100px;
    }

    .mathster {
        margin-top: -70px;
        height: 10%;
    }

    .menuChoice {
        height: 75%;
        width: 17%;
        font-size: 0.6em;
        border-radius: 25px;
        border-width: 5px;
    }

    .squirrelDiv img {
        height: 100px;
        padding: 0;
        margin-bottom: -10px;
    }

    .row {
        height: 40%;
        margin-top: 150px;
    }

    .hideInMobile {
        display: none;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }

    body {
        background-size: 120%;
    }

    .container {
        height: 370px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .mathster img {
        height: 100px;
    }

    .mathster {
        margin-top: -70px;
        height: 10%;
    }

    .menuChoice {
        height: 75%;
        width: 17%;
        font-size: 0.6em;
        border-radius: 25px;
        border-width: 5px;
    }

    .squirrelDiv img {
        height: 100px;
        padding: 0;
        margin-bottom: -10px;
    }

    .row {
        height: 40%;
        margin-top: 150px;
    }
    .hideInMobile {
        display: none;
    }
}

