@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-image: url("/MathsterBackground.png");
    background-size: cover;
}
.mathster{
    font-family:'Trebuchet MS';
    color:white;
    font-size:200px;
    text-align:center;
}

.wrapper {
    margin: 3em 0;
}

a, a:visited, a:hover, a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 10px #000000;
}

    a:hover {
        color: #bdbdbd;
    }

    a.before:before, a.after:after {
        content: "";
        transition: 0.5s all ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
    }

    a.before:before {
        top: -0.25em;
    }

    a.after:after {
        bottom: -0.25em;
    }

    a.before:before, a.after:after {
        height: 5px;
        height: 0.35rem;
        width: 0;
        background: #bdbdbd;
    }

    a.third:after {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    a.before:hover:before, a.after:hover:after {
        width: 100%;
    }

    

.container {
    width: 80%;
    margin: 110px;
    margin-left: 110px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47826d;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 50px;
    text-align: center;
    margin: 20px;
    box-shadow: 4px 4px 20px #000000;
    }

.fas {
    font-size: 150px;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}
ul {
    list-style: none;
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 15px;
    padding-left: 0;
}
li{
    padding:10px;
}


