@model MultiplicationIndexVM

<div class="resultDiv" id="resultDiv">
    <span class="starSpan"></span>
    <div class="scoreDiv"></div>
    <div class="buttonDiv"><div class='closeButtonDiv'><a class='closeA' asp-controller='Home' asp-action='Index'></a></div></div>

</div>



<div class="container" id="containerDiv" style="visibility:hidden">
    <div class="arrowAndInfo">
        <div class="backDiv mobile"><a asp-controller="Home" asp-action="Index"><i class="fas fa-reply"></i></a></div>
        <div id="feedback"></div>
        <div class="mobile" id="questionIndex"></div>
    </div>
    <div class="questionContainer">
        <div class="question" id="questionDiv">
            <div class="factor1" id="factor1"></div>
            <div id="x"></div>
            <div class="factor2" id="factor2"></div>
        </div>
    </div>
    <div class="answers">
        <div class="answer1 answer" id="answerDiv1"></div>
        <div class="answer2 answer" id="answerDiv2"></div>
        <div class="answer3 answer" id="answerDiv3"></div>
        <div class="answer4 answer" id="answerDiv4"></div>
    </div>
    <div id="mute-button">
        <i class="fas fa-volume-off sound"></i>
        <i class="fas fa-volume-up sound"></i>

        @*<img src="~/Sharky.png" />*@
    </div>
        </div>


        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Js/MultiplikationIndex.js"></script>
        <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
        <link href="~/Scripts/ResultPage.css" rel="stylesheet" />
        <link href="~/Scripts/Mathpages.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

        <script>
    $(document).ready(function () {
        $("#resultDiv").css("display", "none");
        
        


        loadPage("@Model.Level", "@Model.GameType");
    });
        </script>
        @*<audio controls="controls">
            <source src="~/Correct%20Answer%20Button%20Sound%20Effect.mp3" type="audio/mpeg" />
        </audio>*@
        @*<audio id="audio" src="http://www.soundjay.com/misc/sounds/bell-ringing-01.mp3"></audio>*@
