@model MultiplikationIndexVM

    <h1>hola</h1>

<div> @Model.CorrectAnswer

    
    </div>

<div class="container">
    <div class="question">Fråga
    </div>
    <div class="answer1"><h1>svar1 </h1></div>
    <div class="answer2"><h1>svar2 </h1></div>
    <div class="answer3"><h1>svar3 </h1></div>
    <div class="answer4"><h1>svar4 </h1></div>
</div>